:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --error-color: #a94442;
  --primary-color: #009ee3;
  --white-color: #009ee3;
  --secondary-color: #2979ff;
  --link-color-primary: --primary-color;
  --link-color: --primary-color;
  --background-primary-color: #F1EFE2;;
  --background-secondary-color: #FDFDFD;
  --nav-primary-color: #FDFDFD;
  --nav-secondary-color: #009ee3;
  --nav-text-primary-color: #fff;
  --nav-text-secondary-color: #fdfdfd;
  --footer-background-primary: #2979ff;
  --footer-text-primary-color: #fff;
  --footer-text-secondary-color: yellow;
}
