.form-control, .custom-select, button{
  border-radius: 0px !important;
}

.form-group > label{
  color: #FDFDFD;
}

.btn-primary{
  background: var(--primary-color);
  border-color: var(--primary-color);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 7px;
}

.btn-large{
  width: 100%;
}

button > i{
  margin-right: 5px;
}

.btn-link{
  color: #FDFDFD;
  margin-bottom: 15px;
}

.btn-link:hover{
  color: #FDFDFD;
  text-decoration: none;
  font-size: 1.05rem;
}

.text-danger {
  color: #dc3545 !important;
}

.input-error {
  border-color: #dc3545 !important;
}

.text-warning {
  color: #ffc107 !important;
}
